
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #94a3b8;
}

.avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
   background-color: black;
}


.avatarImg{
    width: 250px;
    height: 250px;
    background-image:  url('./assets/avatar.jpg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    background: linear-gradient(90deg, #ff0000,#ffff00,#ff00f3, #0033ff,#ff0000);
    background-size: 400%;
    font-size: 60px;
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 30s linear infinite;
    margin: 10px;
}

.homeContainer button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin: 10px 10px;
    border: none;
    font-weight: bold;
}
.homeContainer button:hover{
   cursor: pointer;
}

.firstButton{
    background-color:#183491;
}
.firstButton{
    background-color:#2945A2;
}
.secoundButton{
    background-color:#374151;
}
.secoundButton{
    background-color:#485262;
}

