nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    position: absolute;
    top: 0;
    right: 10%;
    margin-top: 14px;
}
.menuOnMobile{
    display: none;
}

.navList{
    display: flex;
    margin: 10px 10px;
}
.listItem{
    list-style: none;
    margin: 0 20px;
}
.listItem p{
    font-size: 22px;
    font-weight: 500;
    color: #DDDDDD;
}
.listItem p:hover{
    color: #ffffff;
    cursor: pointer;
}
.logo{
    font-size: 36px;
    font-weight: bold;
    color: #DDDDDD;
    margin: 0 30px;
    background: linear-gradient(90deg, #ff0000,#ffff00,#ff00f3, #0033ff,#ff0000);
    background-size: 400%;
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}
a {
    text-decoration: none;
  }
  .menuIcon{
    position: absolute;
    top: 2%;
    right: 5%;
    fill: white;
  }
  .closeIcon{
    position: absolute;
    top: 2%;
    right: 5%;
    fill: white;
  }

  .fullViewMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 97vw;
    height: 150vh;
    background-color: #020617;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .navListFullScreen{
    list-style: none;
    margin-top: 25vh;
  }
  .listItemFullScreen{
    color: #DDDDDD;
    font-weight: bold;
    font-size: 46px;
    margin: 40px 0;
  }
.isVisable{
    display: inherit;
    
}
.unvisable{
    display: none;
}

 


  @media all and (max-width: 660px) {
    .listItem p{
        font-size: 16px;
    }
    nav{
        top: 0;
        right: 0;
        left: 0;
    }
    .navContainer{
        position: absolute;
        top: 0;
        left: 0;
        width: 97vw;
        background-color: red;
        height: 160vh;
        z-index: 10;
    }
    .navList{
       flex-direction: column;
    }
    .listItem{

    }
    .menuOnMobile{
        display: inherit;
    }
    .menuOnMobile{
       
    }
    nav{
        width: 95%; 
    }
  }
